/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config.log
/config.status
/configure
/fin-hbs.autobil.bin
/fin-hbs.autogen.bin
/fin-hbs.autolex.bin
/fin-hbs.automorf.hfst
/fin-hbs.rlx.bin
/fin-hbs.t1x.bin
/fin-hbs.t2x.bin
/fin-hbs.t3x.bin
/hbs-fin.autobil.bin
/hbs-fin.autogen.hfst
/hbs-fin.autolex.bin
/hbs-fin.automorf.bin
/hbs-fin.rlx.bin
/hbs-fin.t1x.bin
/hbs-fin.t2x.bin
/hbs-fin.t3x.bin
/install-sh
/missing
/modes
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/INSTALL
/*.mode
/*-*.prob
/.deps
/config.in
/config
/test/*-output.txt
